# `LIST`
> `List` adalah sebuah koleksi yang terurut dan dapat diganti atau dapat diubah isinya (mutable)

Karakteristik dari List
* `List` memeiliki nilai yang terurut dan dapat diidentifikasi dengan index
* `List` bisa menampung beberapa elemen yang sama
* `List` bisa menampung berbagai macam tipe data
* `List` bisa menampung `List` didalamnya (Nested list)

## **Membuat List**

List dapat dibuat dengan menyimpan nilai dalam variabel dengan tanda kurung siku `[ ]`

In [1]:
# Membuat List
contoh_list = ["Apel", "Nama", False, True, 1, 8.5]

In [2]:
# Print List
print(contoh_list)

['Apel', 'Nama', False, True, 1, 8.5]

In [3]:
# Membuat List
contoh_list_2 = [True, False, 'Makanan', 8.4]

In [4]:
# Print List
print(contoh_list_2)

[True, False, 'Makanan', 8.4]

In [5]:
# Membuat List didalam List (Nested List)
nested_list = [["Apel", "Nama", False, 1], [True, False, True]]

In [6]:
# Print Nested List
print(nested_list)

[['Apel', 'Nama', False, 1], [True, False, True]]

In [83]:
my_list = list("Hallo") # Method list() hanya dapat menampung sebuah String dan membagi menjadi karakter dan dimuat kedalam list

In [84]:
print(my_list)

['H', 'a', 'l', 'l', 'o']

In [87]:
my_list_2 = [i for i in range(1, 6)]  # Membuat list [1, 2, 3, 4, 5]

In [88]:
print(my_list_2)

[1, 2, 3, 4, 5]

In [89]:
my_list_3 = list(range(1, 6))  # Membuat list [1, 2, 3, 4, 5]

In [90]:
print(my_list_3)

[1, 2, 3, 4, 5]

## **Mengakses List**
Kita bisa mengakses list dengan menggunakan indeks, kita akan mengakses list yang telah kita buat sebelumnya yaitu :

`contoh_list`, `contoh_list_2`, `nested_list`

In [7]:
# Mengakses elemen pada list `contoh_list`
contoh_list[0] # Indeks 0 digunakan untuk mengakses elemen pertama

'Apel'

In [8]:
contoh_list_2[1] # Indeks [1] digunakan untuk mengakses elemen kedua

False

In [9]:
nested_list[1] # Karena ini adalah List didalam List maka indeks [1] merupakan sebuah list

[True, False, True]

In [10]:
# Mengakses beberapa elemen pada list `contoh_list`
contoh_list[0:2] # Indeks [0:2] digunakan untuk mengakses elemen pada indeks 1 sampai 2

['Apel', 'Nama']

In [11]:
# Alternatif jika ingin mengakses dari elemen pertama
contoh_list[:2] # Maka hasilnya akan sama dengan indeks [0:2]

['Apel', 'Nama']

In [12]:
contoh_list_2[-4:-1] # Indeks -4:-1 digunakan untuk mengakses elemen pada indeks 4 terakhir dan indeks terakhir

[True, False, 'Makanan']

In [13]:
# Mengakses elemen dari 2 hingga akhir
contoh_list_2[1:]

[False, 'Makanan', 8.4]

In [14]:
# Mengakses nilai spesifik pada nested list
nested_list[0][0] # Indeks [0] pertama digunakan untuk mengakses list pertama dan Indeks [0] yang kedua digunakan untuk mengakses elemen pertama

'Apel'

In [15]:
# Mengakses List kedua dan elemen pertama
nested_list[1][0]

True

## **Operasi Pada List**

In [16]:
# Melihat kembali List yang kita miliki
print(contoh_list)
print(contoh_list_2)
print(nested_list)

['Apel', 'Nama', False, True, 1, 8.5]
[True, False, 'Makanan', 8.4]
[['Apel', 'Nama', False, 1], [True, False, True]]

### Create Data

In [17]:
# Method insert() bisa menambahkan elemen dengan index yang kita inginkan
contoh_list.insert(0, "Mangga") # Menambahkan elemen pertama pada list dengan string "Mangga"

In [18]:
print(contoh_list) # string "Apel" berganti menjadi elemen kedua

['Mangga', 'Apel', 'Nama', False, True, 1, 8.5]

In [19]:
# Method append() menambahkan elemen pada indeks terakhir
contoh_list_2.append("Baru")

In [20]:
print(contoh_list_2)

[True, False, 'Makanan', 8.4, 'Baru']

In [21]:
# Menggunakan method insert() dan append() pada Nested List
nested_list.insert(1, "Baru")

In [22]:
print(nested_list) # List akan memiliki 3 elemen

[['Apel', 'Nama', False, 1], 'Baru', [True, False, True]]

In [23]:
nested_list.append("elemen_ke_4")

In [24]:
print(nested_list) # List akan memiliki 4 elemen

[['Apel', 'Nama', False, 1], 'Baru', [True, False, True], 'elemen_ke_4']

In [26]:
# Menambahkan elemen pada list yang sudah ada di Nested List
nested_list[2].insert(1, "Baru") # Indeks [2] akan mengakses elemen ketiga dan indeks 1 akan menambahkan elemen pada elemen kedua

In [27]:
print(nested_list) # Maka pada list pertama akan ditambahkan elemen baru

[['Apel', 'Nama', False, 1], 'Baru', [True, 'Baru', False, True], 'elemen_ke_4']

In [28]:
# Menambahkan elemen pada Nested List menggunakan method append()
nested_list[0].append("Mangga") # Indeks [0] akan mengakses elemen pertama dan menambahkan string "Mangga" pada indeks terakhir

In [29]:
print(nested_list)

[['Apel', 'Nama', False, 1, 'Mangga'], 'Baru', [True, 'Baru', False, True], 'elemen_ke_4']

### **Remove Data**

In [30]:
# Melihat kembali List yang kita miliki
print(contoh_list)
print(contoh_list_2)
print(nested_list)

['Mangga', 'Apel', 'Nama', False, True, 1, 8.5]
[True, False, 'Makanan', 8.4, 'Baru']
[['Apel', 'Nama', False, 1, 'Mangga'], 'Baru', [True, 'Baru', False, True], 'elemen_ke_4']

In [31]:
# Menghapus elemen menggunakan method remove()
contoh_list.remove("Mangga") # Menghapus data berdasarkan nilai pada elemen

In [32]:
print(contoh_list) # Elemen dengan nilai string "Mangga" akan terhapus

['Apel', 'Nama', False, True, 1, 8.5]

In [34]:
contoh_list_2.remove(0) # Menghapus data berdasarkan nilai pada elemen

In [35]:
print(contoh_list_2) # Elemen dengan nilai 0 atau False akan terhapus

[True, 'Makanan', 8.4, 'Baru']

In [36]:
nested_list.remove("Baru") # Menghapus elemen berdasarkan nilai pada elemen

In [37]:
print(nested_list) # Semua elemen dengan nilai string "Baru" akan terhapus

[['Apel', 'Nama', False, 1, 'Mangga'], [True, 'Baru', False, True], 'elemen_ke_4']

In [38]:
# Melihat kembali List yang kita miliki
print(contoh_list)
print(contoh_list_2)
print(nested_list)

['Apel', 'Nama', False, True, 1, 8.5]
[True, 'Makanan', 8.4, 'Baru']
[['Apel', 'Nama', False, 1, 'Mangga'], [True, 'Baru', False, True], 'elemen_ke_4']

In [39]:
# Menghapus elemen dengan method pop()
contoh_list.pop() # Menghapus Elemen dengan indeks terakhir

8.5

In [40]:
print(contoh_list) # Makan elemen dengan nilai 8.5 yaitu indeks terakhir akan terhapus

['Apel', 'Nama', False, True, 1]

In [41]:
#  Menghapus elemen terkahir pada salah satu list yang terdapat di nested list
nested_list[0].pop()

'Mangga'

In [42]:
print(nested_list) # Maka indeks terakhir pada elemen pertama(list pertama) akan terhapus

[['Apel', 'Nama', False, 1], [True, 'Baru', False, True], 'elemen_ke_4']

In [43]:
# Menghapus elemen menggunakan del
del contoh_list_2[-1] # Menghapus elemen pada indeks pertama dari akhir

In [44]:
print(contoh_list_2) # Makan elemen pada indeks pertama dari akhir dengan nilai "Baru" akan terhapus

[True, 'Makanan', 8.4]

In [45]:
del nested_list[0][-1] # Menghapus indeks pertama dari akhir pada elemen pertama di nested list

In [46]:
print(nested_list) # Maka elemen dengan nilai 1 akan terhapus

[['Apel', 'Nama', False], [True, 'Baru', False, True], 'elemen_ke_4']

In [47]:
# Mengapus seluruh elemen pada list menggunakan method clear()
contoh_list_2.clear()

In [48]:
print(contoh_list_2)

[]

In [49]:
# Menghapus sebuah list pada nested list
nested_list[0].clear() # Menghapus seluruh elemen pada indeks pertama di nested list

In [50]:
print(nested_list) # Elemen pada indeks pertam di Nested List akan terhapus

[[], [True, 'Baru', False, True], 'elemen_ke_4']

## **Iterasi pada List**

In [53]:
# Melihat kembali List yang kita miliki
print(contoh_list)
print(contoh_list_2)
print(nested_list)

['Apel', 'Nama', False, True, 1]
[]
[[], [True, 'Baru', False, True], 'elemen_ke_4']

In [55]:
for i in contoh_list : # i merupakan simbol untuk elemen pada list, bisa diganti menjadi apa saja
  print(i) # print setiap elemen yang terdapat pada contoh_list

Apel
Nama
False
True
1

In [56]:
for i in contoh_list :
  if isinstance(i, str):
    print(i)

Apel
Nama

In [58]:
for i in contoh_list :
  if isinstance(i, int):
    print(i)

False
True
1

In [61]:
if False in contoh_list :
  print("Terdapat Boolean False pada List")

Terdapat Boolean False pada List

In [62]:
if 5 in contoh_list :
  print("Terdapat Angka 5 pada List") # Tidak akan menghasilkan Output karena Angka 5 tidak terdapat pada list

## **Method Pada List**

**len()**

In [63]:
len(contoh_list) # Cek jumlah elemen pada List

5

**copy()**

In [64]:
print(contoh_list)

['Apel', 'Nama', False, True, 1]

In [65]:
# Duplikat nilai pada list tanpa method copy
contoh_list_3 = contoh_list

In [66]:
print(contoh_list_3)

['Apel', 'Nama', False, True, 1]

In [67]:
contoh_list_3.append(2) # Menambahkan elemen terakhir pada list dengan nilai 2

In [68]:
print(contoh_list_3)

['Apel', 'Nama', False, True, 1, 2]

In [69]:
print(contoh_list) # Jika kita melakukan perubahan pada contoh_list_3 maka contoh_list akan terpengaruh dan cara ini tidak disarankan

['Apel', 'Nama', False, True, 1, 2]

In [70]:
# method copy() digunakan untuk duplikat nilai pada List
contoh_list_4 = contoh_list.copy()

In [71]:
print(contoh_list_4)

['Apel', 'Nama', False, True, 1, 2]

In [73]:
contoh_list_4[0] = "Mangga" # Mengganti nilai pada indeks 0 dengan nilai string "Mangga"

In [74]:
print(contoh_list_4)

['Mangga', 'Nama', False, True, 1, 2]

In [75]:
print(contoh_list) # contoh_list tidak akan terpengaruh jika ada perubahan pada contoh_list_4

['Apel', 'Nama', False, True, 1, 2]

**Concat (+ dan extend)**

In [76]:
print(contoh_list)
print(contoh_list_2)
print(contoh_list_3)
print(contoh_list_4)

['Apel', 'Nama', False, True, 1, 2]
[]
['Apel', 'Nama', False, True, 1, 2]
['Mangga', 'Nama', False, True, 1, 2]

In [77]:
# Concat menggunakan operator +
print(contoh_list + contoh_list_2)

['Apel', 'Nama', False, True, 1, 2]

In [91]:
# Concat menggunakan method extend
contoh_list_3.extend(contoh_list_4)

In [92]:
print(contoh_list_3) # Maka contoh_list_3 akan berubah sedangkan contoh_list_4 akan tetap

['Apel', 'Nama', False, True, 1, 2, 'Mangga', 'Nama', False, True, 1, 2, 'Mangga', 'Nama', False, True, 1, 2]

In [93]:
print(contoh_list_4)

['Mangga', 'Nama', False, True, 1, 2]

**index()**

In [94]:
print(contoh_list.index("Apel")) # Untuk cek nilai berapa pada indeks keberapa

0

**sort()**

In [96]:
contoh_list_5 = list("51232")

In [97]:
print(contoh_list_5)

['5', '1', '2', '3', '2']

In [98]:
contoh_list_5.sort() # Untuk mengurutkan nilai pada List, dengan catatan hanya mendukung tipe data String dan Int atau Float

In [99]:
print(contoh_list_5)

['1', '2', '2', '3', '5']

In [101]:
contoh_list_6 = list("sardiwan")

In [102]:
print(contoh_list_6)

['s', 'a', 'r', 'd', 'i', 'w', 'a', 'n']

In [103]:
contoh_list_6.sort()

In [104]:
print(contoh_list_6)

['a', 'a', 'd', 'i', 'n', 'r', 's', 'w']

**reverse()**

In [105]:
# reverse() berfungsi untuk membalikkan index pada List
print(contoh_list_6)

['a', 'a', 'd', 'i', 'n', 'r', 's', 'w']

In [106]:
contoh_list_6.reverse()

In [107]:
print(contoh_list_6)

['w', 's', 'r', 'n', 'i', 'd', 'a', 'a']

# **END OF NOTEBOOK**