 #`Set`

> Tipe data yang berisi kumpulan tipe data dan dipakai untuk mengolah himpunan (set). Jika dibandingkan dengan tipe data berbentuk array lain di Python, tipe data set berbeda dalam hal index, pengurutan dan keunikan nilai (unique value).

Tipe data set tidak memiliki index, sehingga tidak ada mekanisme pengurutan. Maksudnya, ketika kita menginput beberapa nilai ke dalam tipe data set, posisi nilai tersebut bisa berada di mana saja, tidak persis seperti apa yang tertulis. Akibat tidak memiliki index, maka kita tidak bisa menambah nilai baru ke dalam tipe data set dengan cara menulis nomor index (seperti di dalam tipe data list)

Ciri khas selanjutnya dari tipe data set adalah tidak bisa menerima nilai ganda, setiap nilai di dalam set harus unik. Jika kita menginput beberapa nilai yang sama, hanya satu yang tersimpan di dalam set.

**Sifat Set** :

1. Tidak berurutan
> Unordered berarti bahwa item dalam satu set tidak memiliki urutan yang ditentukan, atau bisa di sebut tidak memiliki index.
2. Tidak dapat diubah
> Set tidak dapat diubah, artinya kita tidak dapat mengubah item setelah set dibuat.Setelah set dibuat, Anda tidak dapat mengubah itemnya, tetapi Anda dapat menambahkan item baru.
3. Duplikat Tidak Diizinkan
> Set tidak boleh memiliki dua item dengan nilai yang sama.
Jika tetap memaksa Set bernilai sama, maka salah satu tidak akan terbaca.

## **Membuat Set**
Untuk membuat tipe data set, gunakan tanda kurung kurawal, kemudian setiap anggota set dipisah dengan tanda koma.

In [35]:
nilai = {10, 20, 30, 40, 50}

In [36]:
print(nilai)

{50, 20, 40, 10, 30}

In [37]:
print(type(nilai))

<class 'set'>

In [38]:
nilai_2 = {10, 10, 20, 30, 40, 50, 50}

In [39]:
print(nilai_2)

{50, 20, 40, 10, 30}

In [40]:
print(type(nilai_2))

<class 'set'>

## **Menambah Item**
 untuk menambah item baru pada set kita bisa menggunakan fungsi add() atau update().

In [41]:
# menambah item satu persatu menggunakan add()
nilai.add(100)

# Menambahkan item secara sekaligus menggunakan update()
nilai_2.update({100, 200})

In [42]:
print(nilai, nilai_2)

{50, 20, 100, 40, 10, 30} {50, 20, 100, 40, 10, 30, 200}

## **Menghapus Item**
 Untuk menghapus kita bisa menggukan 4 fungsi, tiap fungsi memiliki perbedaan fungsi masing-masing.

1. remove(nama_item)
> Untuk menghapus item yang dicari. Jika item yang dicari tidak ada, maka akan error.
2. discard(nama_item)
> Untuk menghapus item yang dicari. Jika item yang dicari tidak ada, tidak akan error.
3. pop()
> Fungsi ini akan menghapus item yang berada di bagian paling kiri.
4. clear()
> Menghapus semua item di dalam set.
5. del()
> Akan menghapus set sepenuhnya, beserta variabel yang membungkus set itu sendiri.

In [43]:
# Jika ingin menghapus menggunakan fungsi ini perhatikan item yang akan dihapus
nilai.remove(100)

In [44]:
print(nilai)

{50, 20, 40, 10, 30}

In [45]:
#  Jika ingin menghapus menggunakan fungsi ini perhatikan item yang akan dihapus
nilai_2.discard(200)

In [46]:
print(nilai_2)

{50, 20, 100, 40, 10, 30}

In [47]:
# fungsi ini akan menghapus item yang berada di bagian paling kiri
nilai.pop()

50

In [48]:
print(nilai)

{20, 40, 10, 30}

In [49]:
# hapus semua nilai
nilai_2.clear()

In [50]:
print(nilai_2)

set()

# **Function pada set**

In [51]:
# Membuat set baru
nilai = {10, 11, 13, 14, 16}
nilai_2 = {10, 11, 16, 17, 12}

In [52]:
# Mencari perbedaan antara 2 set
print(nilai.difference(nilai_2))

{13, 14}

In [53]:
# Mencari elemen yang tidak ada pada keduanya
print(nilai.symmetric_difference(nilai_2))

{17, 12, 13, 14}

In [54]:
# Mencari elemen yang sama pada keduanya
print(nilai.intersection(nilai_2))

{16, 10, 11}

# **End Of Notebook**