# `TUPLE`
> `Tuple` adalah tipe data kolektif pada python yang berguna untuk menyimpan lebih dari satu nilai dalam satu variabel secara sekaligus.

> `Tuple` bersifat ordered (terurut) dan juga bersifat unchangable (tidak bisa diubah). Ordered berarti datanya bisa kita akses menggunakan indeks, dan unchangeable berarti datanya tidak akan pernah bisa diubah setelah pertama kali definisikan

## **Membuat Tuple**

Tuple dapat dibuat dengan menyimpan nilai dalam variabel dengan tanda kurung `()` dan beberapa cara lain

In [14]:
# Membuat Tuple dengan tanda kurung atau cara standard
contoh_tuple = ("Makan", 1, 15)

In [15]:
print(type(contoh_tuple))

<class 'tuple'>

In [16]:
# Membuat Tuple dengan tanpa kurung
contoh_tuple = "Makan", 1, 15

In [17]:
print(type(contoh_tuple))

<class 'tuple'>

In [18]:
# Membuat Tuple dengan menggunakan fungsi tuple()
contoh_tuple = tuple(["Makan", 1, 15]) # Membuat list sebagai isi dari tuple

In [19]:
print(type(contoh_tuple))

<class 'tuple'>

In [20]:
#  Membuat Tuple Kosong dan Singleton
contoh_tuple = ()

In [21]:
print(type(contoh_tuple))

<class 'tuple'>

In [22]:
# Membuat Tuple dengan 1 elemen
# Untuk mendefinisikan tuple yang hanya berisi satu item, kita tetap diharuskan menulis tanda koma.
contoh_tuple = (10,)

In [23]:
print(type(contoh_tuple))

<class 'tuple'>

In [25]:
# Kalau tidak, maka python akan menggap tanda kurungnya tidak ada, seperti contoh berikut:
print(type((10))) # yang ini dianggap integer biasa
print(type(("Makan"))) # yang ini dianggap String biasa
print(type((10,))) # yang ini dianggap tuple
print(type(("Makan",))) # yang ini dianggap tuple

<class 'int'>
<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [26]:
# Membuat Nested Tuple
contoh_tuple = ("Senin", "Selasa", "Rabu", "Kamis")
contoh_tuple_2 = ("Jumat", "Sabtu", "Minggu")
nested_tuple = (contoh_tuple, contoh_tuple_2)

In [28]:
print(nested_tuple)

(('Senin', 'Selasa', 'Rabu', 'Kamis'), ('Jumat', 'Sabtu', 'Minggu'))

In [27]:
print(type(nested_tuple))

<class 'tuple'>

In [29]:
# Atau langsung menggunakan tanda kurung () dan koleksi data lain
# Tuple juga bisa diisi dengan objek apapun seperti list, dictionary, object, dan lain-lain
nested_tuple = (["Senin", "Selasa", "Rabu", "Kamis"], ["Jumat", "Sabtu", "Minggu"])

In [30]:
print(nested_tuple)

(['Senin', 'Selasa', 'Rabu', 'Kamis'], ['Jumat', 'Sabtu', 'Minggu'])

In [31]:
print(type(nested_tuple))

<class 'tuple'>

In [32]:
# Tuple didalam Tuple (Nested Tuple)
nested_tuple = (("Senin", "Selasa", "Rabu", "Kamis"), ("Jumat", "Sabtu", "Minggu"))

In [33]:
print(nested_tuple)

(('Senin', 'Selasa', 'Rabu', 'Kamis'), ('Jumat', 'Sabtu', 'Minggu'))

In [34]:
print(type(nested_tuple))

<class 'tuple'>

## **Mengakses Nilai Tuple**

Sama seperti list, Tuple juga memiliki indeks untuk Mengakses item di dalamnya. Indeks Tuple dan list selalu dimulai dari nol 0.

In [36]:
# Melihat kembali Tuple yang kita miliki
print(contoh_tuple)
print(contoh_tuple_2)

('Senin', 'Selasa', 'Rabu', 'Kamis')
('Jumat', 'Sabtu', 'Minggu')

In [38]:
# Mengakses elemen pada contoh_tuple dan contoh_tuple_2 pada indeks 1 atau urutan kedua
print(contoh_tuple[1])
print(contoh_tuple_2[1])

Selasa
Sabtu

In [39]:
# Mengakses beberapa elemen pada contoh_tuple dan contoh_tuple_2 (Slicing)
print(contoh_tuple[1:3]) # Mengakses tuple dari indeks 1 sampai indeks 3
print(contoh_tuple[1:]) # Mengakses tuple dari indeks 1 sampai indeks terakhir
print(contoh_tuple_2[:2]) # Mengakses tuple dari indeks 0 sampai indeks 2
print(contoh_tuple_2[-1]) # Mengakses tuple indeks terakhir

('Selasa', 'Rabu')
('Selasa', 'Rabu', 'Kamis')
('Jumat', 'Sabtu')
Minggu

## **Sequence Unpacking**

> Proses pembuatan Tuple bisa kita sebut sebagai packing, sementara untuk mengambil (ekstrak) seluruh isinya disebut unpacking.

In [42]:
# Membuat tuple atau packing
kalimat = ("Saya", "Sedang", "Makan")

In [43]:
print(kalimat)

('Saya', 'Sedang', 'Makan')

In [44]:
# lalu di-unpacking
kata_1, kata_2, kata_3 = kalimat

In [45]:
print(kata_1)
print(kata_2)
print(kata_3)

Saya
Sedang
Makan

In [46]:
# Membuat nested tuple atau packing
nama_hari = (("Senin", "Selasa", "Rabu", "Kamis", "Jumat"), ("Sabtu", "Minggu"))

In [47]:
print(nama_hari)

(('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat'), ('Sabtu', 'Minggu'))

In [48]:
# lalu di-unpacking
hari_kerja, hari_libur= nama_hari

In [49]:
print(hari_kerja)
print(hari_libur)

('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat')
('Sabtu', 'Minggu')

## **Function Pada Tuple**
|Nama|Keterangan|
|-|-|
|`len()` | Menghitung jumlah item pada tuple|
|`max()` | Mencari nilai paling besar dari sebuah tuple|
|`min()` |Mencari nilai paling kecil dari sebuah tuple |

In [50]:
nilai_semester_1 = (80, 90, 100, 88, 60)

In [51]:
max(nilai_semester_1)

100

In [52]:
min(nilai_semester_1)

60

In [53]:
len(nilai_semester_1)

5

# **END OF NOTEBOOK**